.collapse navbar-collapse li{
display: inline;
padding-left: 30px;;
padding-right: 30px;
}
h1{
  text-align: center;
  text-decoration-color: sienna;
  font-weight: 600;
}
h3{
  text-align: center;
  text-decoration-color: sienna;
}
h1,h3{
  text-transform: uppercase;
}
.rounded-circle{
  margin-left: 300px;
}
one{
  font-size: 11px;
}
.two{
  font-size: 20px;
  padding-top: 20px;
  font-weight: 700;
  font-family: system-ui;
  text-decoration-color: sienna;
}

ul {
  background: rgb(139, 94, 73);
  padding: 20px;
  text-align: center;}
.row{
  background-color: sienna;
}
#column{
  float: left;
}
#three{
  background-color: tan;
}
#four{
  float: right;
  position: relative;
}
.five{
  margin: auto;
}
#six{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1024px;
}